body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  font-size: smaller;
  margin: 20px;
  padding: 0px;
}

code {
  font-size: small;
}

a {
  font-size: smaller;
  color: darkblue;
  text-decoration: none;
}

img { 
  border-style: none;
}

.title
{
    text-align : center;
    font-family : Arial, Helvetica, sans-serif;
    font-size : larger;
}

.comment
{
    font-family : Arial, Helvetica, sans-serif;
    font-size : smaller;
	color : gray;
}

.gwt-BorderedPanel {
	border: 1px solid #87B3FF;
}

.gwt-Button {
  padding: 2px 3px;
  font-size: smaller;
  cursor: pointer;
  cursor: hand;
  border: 1px outset #ccc;
}

.gwt-Button:active {
  border: 1px inset #ccc;
}

.gwt-Button:hover {
  border-color: #9cf #69e #69e #7af;
}

.gwt-Button
[ disabled ] {
  cursor: default;
  color: #888;
}

.gwt-Button
[ disabled ]:hover {
  border: 1px outset #ccc;
}

.gwt-Canvas {
}

.gwt-CheckBox {
  font-size: smaller;
}

.gwt-DialogBox {
  sborder: 8px solid #C3D9FF;
  border: 2px outset;
  background-color: white;
}

.gwt-DialogBox .Caption {
  background-color: #C3D9FF;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  cursor: default;
}

.gwt-FileUpload {
}

.gwt-Frame {
}

.gwt-HorizontalSplitter .Bar {
  width: 8px;
  background-color: #C3D9FF;
}

.gwt-VerticalSplitter .Bar {
  height: 8px;
  background-color: #C3D9FF;
}

.gwt-HTML {
  font-size: smaller;
}

.gwt-Hyperlink {
}

.gwt-Image {
}

.gwt-Label {
  font-family : Arial, Helvetica, sans-serif;
  color: blue;
  font-size : smaller;
}

.gwt-ListBox {
   background: yellow;
   border: 1px solid #000088;
}

.gwt-MenuBar {
  background-color: #C3D9FF;
  border: 1px solid #87B3FF;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
  padding: 1px 4px 1px 4px;
  font-size: smaller;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #E8EEF7;
}

.gwt-PasswordTextBox {
}

.gwt-RadioButton {
  font-size: smaller;
}

.gwt-TabPanel {
}

.gwt-TabPanelBottom {
  border-left: 1px solid #87B3FF;
}

.gwt-TabBar {
  background-color: #C3D9FF;
  font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
  height: 100%;
  border-bottom: 1px solid #87B3FF;
  padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
  border-bottom: 1px solid #87B3FF;
  padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
  border-top: 1px solid #C3D9FF;
  border-bottom: 1px solid #87B3FF;
  padding: 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  font-weight: bold;
  background-color: #E8EEF7;
  border-top: 1px solid #87B3FF;
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #E8EEF7;
  padding: 2px;
  cursor: default;
}

.gwt-TextArea {
   background: yellow;
   border: 1px solid #000088;
}

.gwt-TextBox {
   border: 1px solid #000088;
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
  font-size: smaller;
}

.gwt-Tree .gwt-TreeItem-selected {
  background-color: #C3D9FF;
}

.gwt-StackPanel {
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: #C3D9FF;
  cursor: pointer;
  cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}
.gwt-Table {
  padding: 3px;
  background-color: #A6A5C2;
  font-weight: bold;
  font-size : 11px;
  font-family: Verdana,sans-serif;  
}


.gwt-Table-header
{
	background-color: #DDEEFF;
	  padding: 3px;
  font-size : 11px;
  font-family: Verdana,sans-serif;  
  border-style: solid;
  border-width: 1px;
}
.gwt-Table-line
{
	background-color: #FFFFCC;
	  padding: 3px;
  font-size : 11px;
  font-family: Verdana,sans-serif;  
  border-style: solid;
  border-width: 1px;
}